body{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-style: normal;
    background: white;
}

.navbar{
    font-family: 'BebasNeueRegular', sans-serif;
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    .navbar-brand h3{
        font-weight: 100;
    }
    .nav-item{
        font-size: 1.4rem;
    }
    .nav-link:hover{
        transition: border 0.2s;
        border-bottom: 1px solid white;
    }
    
}

#mainSection{
    background: url(../images/nong-vang-kdVGvy2dunA-unsplash.jpg) bottom center / cover no-repeat;
    min-height: 750px;
    position: relative;

    #main{
        z-index: 2;
    }

    h1{
        font-family: "Questrial",sans-serif;
        line-height: 1;
    }
    #act_btn{
        font-size: 1.6rem;
        border-radius: 1.3rem;
    }
    #fade{
        background: rgba(0,0,0,0.1);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

}

#newsletter{

}
//add responsive medium breakpoint, dark-navbar on medium breakpoint
@media(max-width:768px){
    .navbar{
        background: #1f1f1f;
        .nav-link:hover{
            border-bottom: none;
        }
    }
    #mainSection{
        min-height: 500px;
        h1{
            font-size:4rem;
        }

    }
}  
